#banner {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(../Resources/Banner.jpg);
}

#brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

p span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

#frames {
  background-color: lightcoral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#paints {
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
